@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #FDFFFF;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
}

p{ white-space:pre-wrap; }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #2E5790;
  border-bottom: 3px solid red;
}

.btn btn-info {
  background-color: #FF0000;
}

.button {
  height: 50px;
  background-color: #2E5790;
    color: white;
    cursor: pointer;
}


.red-background {background-color:#2E5790;}
.white {color:#ffffff;}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.content-forms {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    height: auto;
    width: 400px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #2E5790;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }
.top60 { margin-top:60px; }
.top70 { margin-top:70px; }
.top80 { margin-top:80px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top120 { margin-top:120px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top180 { margin-top:180px; }
.top200 { margin-top:200px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top280 { margin-top:280px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top360 { margin-top:360px; }
.top380 { margin-top:380px; }
.top420 { margin-top:420px; }
.top480 { margin-top:480px; }



.search {
  width: 100%;
  height: 150%;
  /*border: 2px solid #ffc5c7;*/
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #ffc5c7;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffc5c7;
}

.searchTerm:focus{
  color: #ffc5c7;
}

.searchButton {
  width: 40px;
  border: 1px solid #ffc5c7;
  background: #ffc5c7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* ===========================
   ====== Search Box ======
   =========================== */

.form-group {

}


.search
{
	border: 2px solid #ffc5c7;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.search input[type="text"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.search input[type="text"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: #2E5790;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}

/* ===========================
   ====== Medua Query for Search Box ======
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	{}
	.search
	{
		width: 95%;
		margin: 0 auto;
	}

}

#page {
    display: none;
}


#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}



/*#wait {*/
/*    position: absolute;*/
/*  width: 300px;*/
/*  height: 200px;*/
/*  z-index: 15;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  margin: -100px 0 0 -150px;*/
/*}*/

@keyframes lds-ripple {
  0% {
    top: 88px;
    left: 88px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -6px;
    left: -6px;
    width: 188px;
    height: 188px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 88px;
    left: 88px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -6px;
    left: -6px;
    width: 188px;
    height: 188px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 12px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #ff0000;
}
.lds-ripple div:nth-child(2) {
  border-color: #2e5790;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/*.list-group .list-group-item:hover{*/
/*  background: #337ab7;*/
/*  cursor: pointer;*/
/*  color: #fff;*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.tabs{
  margin-top:30px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:8px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.list-group a.active{
  color:#fff;
  background: #2e5790;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #ff0000;
  background: -webkit-linear-gradient(45deg, #2e5790 0%,#2e5790 100%);
  background: linear-gradient(45deg, #2e5790 0%,#2e5790 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5790', endColorstr='#2e5790',GradientType=1 );
}



.active_text{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: rgb(222, 245, 21);
    padding: 5px 6px 5px 13px;
    cursor: pointer;
    margin: 0px 3px;
    position: relative;
    color: #000;
}
span.active_text:before {
    content: "\f057";
    font: normal normal normal 19px/1 FontAwesome;
    position: absolute;
    left: -7px;
    top: -7px;
    visibility: hidden;
}
.active_text:hover:before {
    background: rgba(255, 250, 174, 0.87);
    border-radius: 54px;
    visibility: visible;
}



/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/


/*.nav-tabs {*/
/*    text-align:center;*/
/*  align-items: center;*/
/*}*/

/*.tabs{*/
/*  text-align: center;*/
/*  margin-top:10px;*/
/*  font-size:15px;*/
/*  padding:0px;*/
/*  list-style:none;*/
/*  background:#fff;*/
/*  box-shadow:0px 5px 20px rgba(0,0,0,0.1);*/
/*  display:inline-block;*/
/*  border-radius:50px;*/
/*  !*position:relative;*!*/
/*}*/

/*.tabs a{*/
/*  text-decoration:none;*/
/*  color: #777;*/
/*  text-transform:uppercase;*/
/*  padding:8px 20px;*/
/*  display:inline-block;*/
/*  position:relative;*/
/*  z-index:1;*/
/*  transition-duration:0.6s;*/
/*  text-align: center;*/
/*}*/

/*.tabs a.active{*/
/*  color:#fff;*/
/*}*/

/*.tabs a i{*/
/*  margin-right:5px;*/
/*}*/

/*.tabs .selector{*/
/*  height:100%;*/
/*  display:inline-block;*/
/*  position:absolute;*/
/*  left:0px;*/
/*  top:0px;*/
/*  z-index:1;*/
/*  border-radius:50px;*/
/*  transition-duration:0.6s;*/
/*  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);*/

/*  background: #05abe0;*/
/*  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);*/
/*  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);*/
/*  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);*/
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );*/
/*}*/

/*.active, .list-group-item:hover {*/
/*  background-color: #666;*/
/*  color: white;*/
/*}*/


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2e5790;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #2e5790;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e5790;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.collapsible {
  color: white;
  active: false;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
}



.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

ul.hide {
 display: none;
}


svg {
  background: #2e5790;
  width: 20%;
  border: 1px solid #2e5790;
}

.linenStroke {
  stroke: linen;
  fill: none;
  stroke-width: 8px;
  stroke-linejoin:round;
}
.YesNo{stroke-width: 4px;}

#theGrid{
   display:grid;
   grid-template-rows:1fr;
   grid-gap:1em;
   width:10vmin;
   height:10vmin;
   margin:10vmin auto;
}




.bg-success {
  background-color: #00cf36 !important;
}

.btn-back {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #fff !important;
}

.btn-back:hover {
  background-color: #b7babb;
  border-color: #b7babb;
  color: #fff;
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.small {
  font-size: 80%;
}

.tooltip-form {
  top: 1px;
  right: -1px;
}

.text-primary {
  color: #03b8ee !important;
}

/* Update details */

.collapse,
.collapsing {
  margin-top: -1px;
}
.collapse .card-body,
.collapsing .card-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  border-bottom: 2px solid #dae0e5;
  border-left: 2px solid #dae0e5;
  border-right: 2px solid #dae0e5;
}

.collapsed-link {
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom:0 !important;
  border: 2px solid #dae0e5;
}

.form-check-label {
  font-family: "Open Sans", sans-serif;
}

/*input[type=checkbox] { display:none; } !* to hide the checkbox itself *!*/
/*input[type=checkbox] + label:before {*/
/*  font-family: FontAwesome;*/
/*  display: inline-block;*/
/*}*/

/*input[type=checkbox] + label:before { content: "\f096"; color: #03b8ee; font-size: 22px;} !* unchecked icon *!*/
/*input[type=checkbox] + label:before { letter-spacing: 10px; } !* space between checkbox and label *!*/

/*input[type=checkbox]:checked + label:before { content: "\f046"; } !* checked icon *!*/
/*input[type=checkbox]:checked + label:before { letter-spacing: 5px; } !* allow space for check mark *!*/

button.btn-light:focus {
  background: #fff !important;
  color: black !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #bdc3c7;
    border-color: #bdc3c7;
}




.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}