{% extends "layout.html" %}
{% block content %}
    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

    <div class="row top30 justify-content-md-center">
    <h1>About Page</h1>
    </div>
{% endblock content %}
