{% extends "layout.html" %}
{#{% import "_macros.html" as macros %}#}

{% macro sentence_case(text) %}
    {{ text|replace("root_", "") | replace(".txt","") | replace("_"," ") | capitalize }}
{% endmacro %}

{% macro change_context(text) %}
    {{ text|replace("root_", "") | replace(".txt","") | replace("_"," ") | capitalize }}
{% endmacro %}

{% set context = '0' %}

{% block content %}
{#    {%  if name %}#}

        <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
                <form class="input-group" action="/" method="post" id="formoid">
                    <input type="text" id="text_query" name="query" class="form-control" placeholder="What are you looking for?">
                    <span class="input-group-btn">
    <button class="button" id="search_submit" type="submit" style="height:50px;width:50px">Go!</button>
                          <script type="text/javascript" src="static/search.js"></script>
  </span>
                </form>
            </div>
            <div class="lds-css ng-scope"><div id = "overlay" style="display:none;width:100%;height:100%; position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);" class="lds-ripple"><div></div><div></div></div></div>

            <div class="filter" id="filter">
                <nav class="tabs nav nav-tabs justify-content-center">
                    <div class="selector"></div>
                    <a href="#" class="active" data-value = "property"><i class="fab fa-superpowers"></i>property</a>
                    <a href="#" data-value = "casualty"><i class="fas fa-hand-rock"></i>casualty</a>
                    <a href="#" data-value = "frmanual"><i class="fas fa-bolt"></i>frmanual</a>
                    <a href="#" data-value = ""><i class="fas fa-burn"></i>all</a>
                </nav>
                <script type="text/javascript" src="static/tabs.js"></script>
            </div>

        </div>
        <div class="col col-lg-2">
{#            {% if current_user.is_authenticated %}#}
{#                <form class="form" action="" method="post">#}
{#                    <input type="hidden" name="name" id="hilighted_text">#}
{#                    <input type="button" onclick="return formSubmit();" value="Send">#}
{#                    <button type="hidden" class="button" style="height:50px;width:170px;color: #fff;" onclick="return formSubmit();" value="Send">Update Answer!</button>#}
{#                </form>#}
{#                <button class="button" id="remove" style="height:50px;width:170px; color: #fff;">Remove Highlight!</button>#}
{#                <button class="button" id="edit" style="height:50px;width:100px">Post!</button>#}
{#            {% endif %}#}
        </div>
    </div>

<script> $(document).on('click', '#filter', function () {
                              var query = $('#text_query').data()
                              var context = $('.nav-tabs .active').text()
                              console.log(query, context)
                          });
                          </script>

    <div class="row top30 justify-content-md-center">
        <meta id="my-data" data-name="{{name}}">
    <div class="col" id = "qa" style="display:none;">
{#    {{ macros.pagination_widget(pages, 'home') }}#}
        <div class="content-section">
            <h1 id="most_probable_answer">
{#                {{ name['-1']['answer_str'] }}#}
            </h1>
            <dl class="row">
                <dt class="form-control input-sm" id="inputsm">Possible Answers in the given Context</dt>
                <dd class="form-control input-sm" id="inputsm">
                    <ul class="list-group list-group-flush" id="answers_group">
{#                        {% set count = 1 %}#}
{##}
{#                        {% set answer_id = name['-1']['docid'] %}#}
{#                        {% for user in name %}#}
{#                            {% if user == answer_id|string %}#}
{#                                {% for answers in name[user] %}#}
{#                                    {% if name[user][answers]['answer_str'] %}#}
{#                                        <li id = "answers" class="list-group-item list-group-item-light">{{ name[user][answers]['answer_str'] }}</li>#}
{#                                    {% endif %}#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                        {% endfor %}#}
                    </ul>
                    <script type="text/javascript">
                        function check() {
                            document.getElementById("response").innerHTML = document.getElementById("current-html").innerHTML
                            var value = (event.target || event.srcElement).innerText

                            split_string = value.split(" ")
                            {#if(split_string.length >1) {#}
                            {#    end = split_string.length - 1#}
                            {##}
                            {#    var r = new RegExp(split_string[0] + "((.|\\n)*?)" +split_string[end]);#}
                            {#    document.getElementById("response").innerHTML = document.getElementById("response").innerHTML.replace(r, '<mark style="background-color: #99ff99">' + value + '</mark>');#}
                            {#
                            {#else {#}
                            {#    #}
                            {#    #}
                            document.getElementById("response").innerHTML = document.getElementById("response").innerHTML.replace(value, '<mark style="background-color: #99ff99">' + value + '</mark>');
                        }
                    </script>

                </dd>
            </dl>
            </p>
        </div>


{#        <div class="row">#}
{#            <div class="col col-lg-2">#}
{#                <form class="form" action="" method="post">#}
{#                    <input type="hidden" name="name" id="hilighted_text">#}
{#                    <input type="button" onclick="return formSubmit();" value="Send">#}
{#                    <button type="hidden" class="button" style="height:50px;width:170px;color: #fff;" onclick="return formSubmit();" value="Send">Update Answer!</button>#}
{#                </form>#}
{#            </div>#}
{##}
{#            <div class="col col-lg-2">#}
{#                <button class="button" id="remove" style="height:50px;width:170px; color: #fff;">Remove Highlight!</button>#}
{#            </div>#}
{#        </div>#}

{#        {% for post in data_to_show %}#}
{#            {% for dictionary in post %}#}

        <div class="row">
            {% if current_user.is_authenticated %}
                <div class="col-sm-6 col-lg-3"></div>

                <div class="col-sm-6 col-lg-3">
                    <button class="button" id="remove" style="height:50px;width:170px; color: #fff;">Remove Highlight!</button>
    {#                <button class="button" id="edit" style="height:50px;width:100px">Post!</button>#}
                </div>

                <div class="col-sm-6 col-lg-3">
                    <form class="form" action="" method="post">
                        <input type="hidden" name="name" id="hilighted_text">
    {#                    <input type="button" onclick="return formSubmit();" value="Send">#}
                        <button type="hidden" class="button" style="height:50px;width:170px;color: #fff;" onclick="return formSubmit();" value="Send">Update Answer!</button>
                    </form>
                </div>

                <div class="col-sm-6 col-lg-3"></div>
            {% endif %}
        </div>


                    <article class="media content-section top17">
                        <img class="rounded-circle article-img"
                             src="{{ url_for('static', filename='profile_pics/' + 'files.png') }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                {#                        <a class="mr-2"#}
                                {#                           href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>#}
                                <small class="text-muted">05-28-2019</small>

                            </div>
                            <h2><a class="article-title"></a>Index Sources</h2>
{#                                {% set count = 1 %}#}
{##}
{#                                {% set answer_id = name['-1']['docid'] %}#}
{#                                {% for user in name %}#}
{#                                    {% if user == answer_id|string %}#}
{#                                        {% for answers in name[user] %}#}
{#                                            {% if answers == 'html' %}#}
                                                <div id="response">
                                                <p class="article-content">
{#                                                {{ name[user][answers]|safe }}#}
                                                </p>
                                                </div>

                                                <div id="full" style="display:none">
                                                <p class="article-content" style="display:none">
{#                                                {{ name[user][answers]|safe }}#}
                                                </p>
                                                </div>

                                                <div id="current-html" style="display:none">
                                                <p class="article-content" style="display:none">
{#                                                {{ name[user][answers]|safe }}#}
                                                </p>
                                                </div>
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
                        </div>
                    </article>
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}#}
{#            {% if page_num %}#}
{#                {% if posts.page == page_num %}#}
{#                    <a class="btn btn-info mb-4 red-background white"#}
{#                       href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>#}
{#                {% else %}#}
{#                    <a class="btn btn-outline-info mb-4 red-background white"#}
{#                       href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>#}
{#                {% endif %}#}
{#            {% else %}#}
{#                ...#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </div>

    <div class="col" id = "context-section" style="display:none;">
        <div class="content-section">
            <h3>Context of Answers</h3>
            <p class='text-muted'>You can select the below appropriate context of reference
            <div class="list-group", id="main_context">
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="content-section">
            <h3>People also asked for - </h3>
            <p class='text-muted'>Questions
            <div class="list-group", id="main_context2">
            </p>
        </div>

    </div>

{#    {% endif %}#}


{#    <span id='full_response'#}
{#        style="display:none"></span>#}

    </div>

    {% if current_user.is_authenticated %}
    <script type="text/javascript">
        (function () {

            var hilighted_text = null
            var removeBtn = document.getElementById('remove');
            var sandbox = document.getElementById('response');
            //var colors = new ColorPicker(document.querySelector('.color-picker'));
            var hltr = new TextHighlighter(sandbox, {
                onBeforeHighlight: function (range) {
                    {#return window.confirm('Selected text: ' + range + '\nReally highlight?');#}
                    {#document.getElementById("hilighted_text").value = null#}
                    return true;
                },
                onAfterHighlight: function (range, highlights) {
                    {#window.alert('Created ' + highlights.length + ' highlight(s): ' + #}
                        highlights.map(function (h) {
                        document.getElementById("hilighted_text").value = h.innerText
                        return '"' + h.innerText + '"';
                    }).join(', ');
                },
                onRemoveHighlight: function (hl) {
                    {#document.getElementById("hilighted_text").value = null#}
                    {#return window.confirm('Do you really want to remove: "' + hl.innerText + '"');#}
                    return true;
                }
            });

            removeBtn.addEventListener('click', function () {
                hltr.removeHighlights();
            });
        })();
    </script>

    {% endif %}

    <script type="text/javascript">
        function DecodeHTML(encodedHTML) {
            return $("<div/>").html(encodedHTML).text();
        }
    </script>


{#    <form class="form" action="" method="post">#}
{#    <input type="text" name="name" id="hilighted_text" >#}
{#    <textarea name="text" id="message" placeholder="Write something to us"> </textarea>#}
{#    <input type="button" onclick="return formSubmit();" value="Send">#}
{#</form>#}

    <script type="text/javascript">
        function formSubmit() {
            event.preventDefault();

            $(document).ajaxStart(function () {
                $("#overlay").css("display", "none");
            });
            $(document).ajaxComplete(function () {
                $("#overlay").css("display", "none");
            });

            var selected = new Array();

             $("input:checkbox[name=type]:checked").each(function () {
                    selected.push($(this).val());
                });

            if ((selected == undefined || selected.length == 0) &&  document.getElementById("hilighted_text").value == "") {
                alert('Please Highlight or Choose the Correct Answer to Post!!')
                return false
            }
            else {
                // exists.
                var message = document.getElementById("hilighted_text").value

                var answers = [];
                var ul = document.getElementById("answers_group");
                var items = ul.getElementsByTagName("li");
                for (var i = 0; i < items.length; ++i) {
                    answers.push(items[i].innerText)
                }
                answers = JSON.stringify(answers)

                var updated_html = document.getElementById("response").innerHTML

                    if (message == "") {
                        message = JSON.stringify(selected)
                    }
                    else {
                        selected.push(message);
                        message = JSON.stringify(selected)
                    }

                    var dict = {}
                    dict['system_generated_answer'] = document.getElementById("most_probable_answer").innerHTML
                    dict['expected_answer'] = message
                    dict['answers'] = answers
                    dict['updated_html'] = updated_html
                    dict['question'] = $('#text_query').val()
                    dict['question_context'] = $('.nav-tabs .active').attr('data-value')
                    dict['answer_context'] = document.getElementsByClassName('list-group-item list-group-item-action active')[0].innerText;


                    {#var dataString =#}
                    {#    'system_generated_answer=' + document.getElementById("most_probable_answer").innerHTML +#}
                    {#    '&expected_answer=' + message +#}
                    {#    '&answers=' +answers+#}
                    {#    '&updated_html='+updated_html+#}
                    {#    '&question=' + $('#text_query').val() + '&question_context=' + $('.nav-tabs .active').text() +#}
                    {#    '&answer_context=' + document.getElementsByClassName('list-group-item list-group-item-action active')[0].innerText;#}
                    jQuery.ajax({
                        url: "/post/new",
                        data: dict,
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            alert('Posted!');
                        },
                    });

                }
        }
    </script>


{% endblock content %}
