
{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html>
<head>
{#    <!-- Required meta tags -->#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

{#    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400|Special+Elite' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" type="text/css" href="assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/styles.css" />
    <link rel="stylesheet" type="text/css" href="assets/github.css" />
    <link rel="stylesheet" type="text/css" href="assets/ColorPicker.css" />

    <script type="text/javascript" src="static/stopwords.js"></script>

    <script type="text/javascript" src="assets/rainbow-custom.min.js"></script>

    <script type="text/javascript" src="assets/ColorPicker.js"></script>
    <script type="text/javascript" src="static/TextHighlighter.js"></script>

{#    <script type="text/javascript" src="TextHighlighter.min.js"></script>#}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Shark{{ title }}</title>
    {% else %}
        <title>Shark</title>
    {% endif %}


{#    <script type="text/javascript">#}
{#        function test_func(data) {#}
{#            console.log(data);#}
{#        }#}
{#    </script>#}

</head>
<body>
<header class="site-header">
<script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

<script type="text/javascript" src="static/tabs.js"></script>



    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
        <a class="navbar-brand mr-20" href="/">Shark</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('qa') }}">QA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% if current_user['email'] == 'john@gmail.com' %}
                        <a class="nav-item nav-link" href="{{ url_for('posts') }}">Posts</a>
                    {% endif %}
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>

            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>


</header>
<main id = 'main' role="main" class="container-fluid" style="pointer-events: auto">
{#    <div class="row" style="text-align: center;">#}
{#        <div class="col-md-auto">#}
{#            <div class="column logo">#}
{#                <a href="/"><img#}
{#                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"#}
{#                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col">#}
{#            <div>#}
{#                <form class="input-group" action="/" method="post" id="formoid">#}
{#                    <input type="text" id="text_query" name="query" class="form-control" placeholder="What are you looking for?">#}
{#                    <span class="input-group-btn">#}
{#    <button class="button" id="search_submit" type="submit" style="height:50px;width:50px">Go!</button>#}
{#                          <script type="text/javascript" src="static/search.js"></script>#}
{#  </span>#}
{#                </form>#}
{#                <div class="lds-css ng-scope"><div id = "overlay" style="display:none;width:100%;height:100%; position: fixed;#}
{#  top: 50%;#}
{#  left: 50%;#}
{#  transform: translate(-50%, -50%);" class="lds-ripple"><div></div><div></div></div></div>#}
{#            </div>#}
{#            <div class="filter" id="filter">#}
{#                <nav class="tabs nav nav-tabs justify-content-center">#}
{#                    <div class="selector"></div>#}
{#                    <a href="#" class="active"><i class="fab fa-superpowers"></i>Property</a>#}
{#                    <a href="#"><i class="fas fa-hand-rock"></i>Casualty</a>#}
{#                    <a href="#"><i class="fas fa-bolt"></i>Farm/Ranch</a>#}
{#                    <a href="#"><i class="fas fa-burn"></i>All</a>#}
{#                </nav>#}
{#                <script type="text/javascript" src="static/tabs.js"></script>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="col col-lg-2">#}
{#        </div>#}
{#    </div>#}
{##}
{#<script> $(document).on('click', '#filter', function () {#}
{#                              var query = $('#text_query').data()#}
{#                              var context = $('.nav-tabs .active').text()#}
{#                              console.log(query, context)#}
{#                          });#}
{#                          </script>#}

    <div>
        {% block content %}{% endblock %}
    <script type="text/javascript" src="static/update_home.js"></script>
    </div>

    <div class="row top30 justify-content-md-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="alert" class="alert alert-{{ category }} red-background white">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
