{% extends "layout.html" %}
{% block content %}

    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

    <div class="row top30 justify-content-md-center">
    <div class="col">
  {% for post in posts %}
        <article class="media content-section collapsible">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
          <br>
            <h2><a class="article-title">Question: {{ post.question }}</a></h2>
          </div>
      </article>

          <div class="col expand">
              <h5>Question Context: </h5>
                <li class="list-group-item">{{ post.question_context | capitalize }}</li>
          <br>
              <h5>Answer Context: </h5>
                <li class="list-group-item">{{ post.answer_context | capitalize }}</li>
          <br>
              <h5>Expected Answer: </h5>
                  <li class="list-group-item">{{ post.expected_answer }}</li>
              <br>
              <h5>System Generated Answer: </h5>
              <li class="list-group-item">{{ post.system_generated_answer }}</li>
          </div>
          <br>
          <br>
          <br>
    {% endfor %}

            <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
    </div>
{% endblock content %}
