{% extends "layout.html" %}
{% block content %}

    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

    <div class="row top30 justify-content-md-center">
<div class="col">
    <div class="row justify-content-md-center">
    <div class="content-forms">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.question.label(class="form-control-label") }}
                {% if form.question.errors %}
                    {{ form.question(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.question.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.question(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.expected_answer.label(class="form-control-label") }}
                {% if form.expected_answer.errors %}
                    {{ form.expected_answer(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.expected_answer.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.expected_answer(class="form-control form-control-lg") }}
                {% endif %}
            </div>
         <div class="form-group">
                {{ form.system_generated_answer.label(class="form-control-label") }}
                {% if form.system_generated_answer.errors %}
                    {{ form.system_generated_answer(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.system_generated_answer.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.system_generated_answer(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info red-background white") }}
        </div>
    </form>
</div>
    </div>
    </div>
    </div>
{% endblock content %}
