{% extends "layout.html" %}

{% macro sentence_case(text) %}
{{ text|replace("root_", "") | replace(".txt","") | replace("_"," ") | capitalize }}
{% endmacro %}

{% macro change_context(text) %}
{{ text|replace("root_", "") | replace(".txt","") | replace("_"," ") | capitalize }}
{% endmacro %}

{% set context = '0' %}

{% block content %}

<div id="replace_view">
    <div class="row top220 justify-content-md-center">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-auto">
            <div>
                <img alt="Web Studio" class="img-fluid" src="static/profile_pics/logo.png">
            </div>
        </div>
        <div class="col col-lg-2">

        </div>
    </div>
</div>


<div class="row" id="sub_view" style="text-align: center;">
    <div class="col col-lg-2">
        <div class="column logo" id="company_logo" style="display:none;">
            <a href="/"><img
                    src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                    class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
        </div>
    </div>
    <div class="col">
        <div>
            <form class="input-group" action="/" method="post" id="formoid">
                <input type="text" id="text_query" name="query" class="form-control"
                       placeholder="What are you looking for?">
                <span class="input-group-btn">
    <button class="button" id="search_submit" type="submit" style="height:50px;width:50px">Go!</button>
                          <script type="text/javascript" src="static/search.js"></script>
  </span>
            </form>
        </div>
        <div class="lds-css ng-scope">
            <div id="overlay" style="display:none;width:100%;height:100%; position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);" class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="filter" id="filter">
            <nav class="tabs nav nav-tabs justify-content-center">
                <div class="selector"></div>
                <a href="#" class="active" data-value="property"><i class="fab fa-superpowers"></i>property</a>
                <a href="#" data-value="casualty"><i class="fas fa-hand-rock"></i>casualty</a>
                <a href="#" data-value="frmanual"><i class="fas fa-bolt"></i>frmanual</a>
                <a href="#" data-value=""><i class="fas fa-burn"></i>all</a>
            </nav>
            <script type="text/javascript" src="static/tabs.js"></script>
        </div>

    </div>
    <div class="col col-lg-2">
    </div>
</div>

<script> $(document).on('click', '#filter', function () {
    var query = $('#text_query').data()
    var context = $('.nav-tabs .active').text()
    console.log(query, context)
});
</script>

<div class="row top30">
    <meta id="my-data" data-name="{{name}}">

    <div class="col-5 container break-text" id="context-section" style="display:none;">

                <div class="card">
                    <div class="card-header">
                <a class="article-title"></a><h2>Possible Answers</h2>
                <h5 class="top30">To Find the suggested answers from PRM, choose from the items below.</h5>
                <div class="card top15">
                    <div class="card-header" id="context1">
                            <button class="btn btn-light bg-light text-left btn-block py-3 collapse-btn font-weight-semi-bold context1-btn"
                    data-target=".multi-collapse" href="#collapseanswers1" role="button" aria-expanded="false"
                    aria-controls="collapseanswers1 index1" style="font-size : 20px; font-weight: bold; text-align: center; white-space: normal;
word-wrap: break-word;">
                Personal details
                <span class="float-right"><i class="fas fa-chevron-down"></i></span>
            </button>
                    </div>

                    <div id="collapseanswers1" class="collapse multi-collapse show" aria-labelledby="context1"
                         data-parent="#accordion">
                        <div class="card-body" id="answers1">
                            <div class="list-group" id="answer_group1">

                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                        <div class="row top15">
                            <div class="col-sm-6 col-lg-3"></div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">Yes
                                    <input type="checkbox" id="answer_positive1" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">No
                                    <input type="checkbox" id="answer_negative1" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="context2">
                            <button class="btn btn-light bg-light text-left btn-block py-3 collapse-btn font-weight-semi-bold context2-btn"
                    data-target=".multi-collapse" href="#collapseanswers2" role="button" aria-expanded="false"
                    aria-controls="collapseanswers2 index2" style="font-size : 20px; font-weight: bold; text-align: center; white-space: normal;
word-wrap: break-word;">
                Personal details
                <span class="float-right"><i class="fas fa-chevron-down"></i></span>
            </button>
                    </div>

                    <div id="collapseanswers2" class="collapse multi-collapse" aria-labelledby="context2"
                         data-parent="#accordion">
                        <div class="card-body" id="answers2">
                           <div class="list-group" id="answer_group2">

                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                        <div class="row top15">
                            <div class="col-sm-6 col-lg-3"></div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">Yes
                                    <input type="checkbox" id="answer_positive2" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">No
                                    <input type="checkbox" id="answer_negative2" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3"></div>
                        </div>
                         {% endif %}
                    </div>
                </div>





                <div class="card">
                    <div class="card-header" id="context3">
                            <button class="btn btn-light bg-light text-left btn-block py-3 collapse-btn font-weight-semi-bold context3-btn"
                    data-target=".multi-collapse" href="#collapseanswers3" role="button" aria-expanded="false"
                    aria-controls="collapseanswers3 index3" style="font-size : 20px; font-weight: bold; text-align: center; white-space: normal;
word-wrap: break-word;">
                Personal details
                <span class="float-right"><i class="fas fa-chevron-down"></i></span>
            </button>
                    </div>

                    <div id="collapseanswers3" class="collapse multi-collapse" aria-labelledby="context3"
                         data-parent="#accordion">
                        <div class="card-body" id="answers3">
                            <div class="list-group" id="answer_group3">

                            </div>
                        </div>

                        {% if current_user.is_authenticated %}
                        <div class="row top15">
                            <div class="col-sm-6 col-lg-3"></div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">Yes
                                    <input type="checkbox" id="answer_positive3" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">No
                                    <input type="checkbox" id="answer_negative3" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>





                <div class="card">
                    <div class="card-header" id="context4">
                            <button class="btn btn-light bg-light text-left btn-block py-3 collapse-btn font-weight-semi-bold context4-btn"
                    data-target=".multi-collapse" href="#collapseanswers4" role="button" aria-expanded="false"
                    aria-controls="collapseanswers4 index4" style="font-size : 20px; font-weight: bold; text-align: center; white-space: normal;
word-wrap: break-word;">
                Personal details
                <span class="float-right"><i class="fas fa-chevron-down"></i></span>
            </button>
                    </div>

                    <div id="collapseanswers4" class="collapse multi-collapse" aria-labelledby="context4"
                         data-parent="#accordion">
                        <div class="card-body" id="answers4">
                           <div class="list-group" id="answer_group4">

                            </div>
                        </div>

                        {% if current_user.is_authenticated %}
                        <div class="row top15">
                            <div class="col-sm-6 col-lg-3"></div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">Yes
                                    <input type="checkbox" id="answer_positive4" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">No
                                    <input type="checkbox" id="answer_negative4" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="context5">
                            <button class="btn btn-light bg-light text-left btn-block py-3 collapse-btn font-weight-semi-bold context5-btn"
                    data-target=".multi-collapse" href="#collapseanswers5" role="button" aria-expanded="false"
                    aria-controls="collapseanswers5 index5" style="font-size : 20px; font-weight: bold; text-align: center; white-space: normal;
word-wrap: break-word;">
                Personal details
                <span class="float-right"><i class="fas fa-chevron-down"></i></span>
            </button>
                    </div>

                    <div id="collapseanswers5" class="collapse multi-collapse" aria-labelledby="context5"
                         data-parent="#accordion">
                        <div class="card-body" id="answers5">
                           <div class="list-group" id="answer_group5">

                            </div>
                        </div>

                        {% if current_user.is_authenticated %}
                        <div class="row top15">
                            <div class="col-sm-6 col-lg-3"></div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">Yes
                                    <input type="checkbox" id="answer_positive5" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="checkboxcontainer">No
                                    <input type="checkbox" id="answer_negative5" onclick="next();">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-lg-3"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>




            </div>
        </div>
    </div>


<script>
    function next() {

        context = $('.nav-tabs .active').attr('data-value')
        question = $('#text_query').val()
        answers = context_answers_html[0]['answer_list']

        if ($("#answer_positive1").is(':checked') | $("#answer_negative1").is(':checked')) {
            answers = context_answers_html[0]['answer_list']
            var positive = $("#answer_positive1").prop('checked')
            var document_context = context_answers_html[0]['context']
            var vote = new Array(5).fill(0);
            vote[0] = 1
            var question_answer_response = { context, question, answers, document_context, positive, vote}
            store_answer(question_answer_response)
            $('#answer_positive1').attr('checked', false);
            document.getElementById('answer_positive1').checked = false
            document.getElementById('answer_negative1').checked = false
            $("#collapseanswers1").removeClass('show');
            $("#index1").removeClass('show')
            $(".context1-btn").prop('disabled', true);
            $("#collapseanswers2").addClass('show')
            $("#index2").addClass('show')
        }
        if ($("#answer_positive2").is(':checked') | $("#answer_negative2").is(':checked')) {
            answers = context_answers_html[1]['answer_list']
            var positive = $("#answer_positive2").prop('checked')
            var document_context = context_answers_html[1]['context']
            var vote = new Array(5).fill(0);
            vote[1] = 1
            var question_answer_response = { context, question, answers, document_context, positive, vote}
            store_answer(question_answer_response)
            document.getElementById('answer_positive2').checked = false
            document.getElementById('answer_negative2').checked = false
            $("#collapseanswers2").removeClass('show');
            $("#index2").removeClass('show')
            $(".context2-btn").prop('disabled', true);
            $("#collapseanswers3").addClass('show')
            $("#index3").addClass('show')
        }
        if ($("#answer_positive3").is(':checked') | $("#answer_negative3").is(':checked')) {
            answers = context_answers_html[2]['answer_list']
            var positive = $("#answer_positive3").prop('checked')
            var document_context = context_answers_html[2]['context']
            var vote = new Array(5).fill(0);
            vote[2] = 1
            var question_answer_response = { context, question, answers, document_context, positive, vote}
            store_answer(question_answer_response)
            document.getElementById('answer_positive3').checked = false
            document.getElementById('answer_negative3').checked = false
            $("#collapseanswers3").removeClass('show');
            $("#index3").removeClass('show')
            $(".context3-btn").prop('disabled', true);
            $("#collapseanswers4").addClass('show')
            $("#index4").addClass('show')
        }
        if ($("#answer_positive4").is(':checked') | $("#answer_negative4").is(':checked')) {
            answers = context_answers_html[3]['answer_list']
            var positive = $("#answer_positive4").prop('checked')
            var document_context = context_answers_html[3]['context']
            var vote = new Array(5).fill(0);
            vote[3] = 1
            var question_answer_response = { context, question, answers, document_context, positive, vote}
            store_answer(question_answer_response)
            document.getElementById('answer_positive4').checked = false
            document.getElementById('answer_negative4').checked = false
            $("#collapseanswers4").removeClass('show');
            $("#index4").removeClass('show')
            $(".context4-btn").prop('disabled', true);
            $("#collapseanswers5").addClass('show')
            $("#index5").addClass('show')
        }
        if ($("#answer_positive5").is(':checked') | $("#answer_negative5").is(':checked')) {
            answers = context_answers_html[4]['answer_list']
            var positive = $("#answer_positive5").prop('checked')
            var document_context = context_answers_html[4]['context']
            var vote = new Array(5).fill(0);
            vote[4] = 1
            var question_answer_response = { context, question, answers, document_context, positive, vote}
            store_answer(question_answer_response)
           document.getElementById('answer_positive5').checked = false
            document.getElementById('answer_negative5').checked = false
            $("#collapseanswers5").removeClass('show');
            $("#index5").removeClass('show')
            $(".context5-btn").prop('disabled', true);
        }



        function store_answer(question_answer_response) {
        $.ajax({
                url: "/post/new",
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                success: function (resp) {
                    console.log(resp.data);
                },
                data: JSON.stringify(question_answer_response)
            });

    }
    }
</script>



<div class="col-7" id="qa" style="display:none;">

    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + 'files.png') }}">
        <div class="media-body">
            <div class="article-metadata">
                {# <a class="mr-2" #}
                      {# href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username
                }}</a>#}
                <small class="text-muted">05-28-2019</small>

            </div>
            <h2><a class="article-title"></a>Index Sources</h2>

            <div class="card">
                    <div class="card-header" id="index_context">
                    </div>

                    <div id="index1" class="collapse multi-collapse show" aria-labelledby="index_context"
                         data-parent="#accordion">
                        <div class="card-body" id="index_content1">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <div id="index2" class="collapse multi-collapse" aria-labelledby="index_context"
                         data-parent="#accordion">
                        <div class="card-body" id="index_content2">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <div id="index3" class="collapse multi-collapse" aria-labelledby="index_context"
                         data-parent="#accordion">
                        <div class="card-body" id="index_content3">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <div id="index4" class="collapse multi-collapse" aria-labelledby="index_context"
                         data-parent="#accordion">
                        <div class="card-body" id="index_content4">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <div id="index5" class="collapse multi-collapse" aria-labelledby="index_context"
                         data-parent="#accordion">
                        <div class="card-body" id="index_content5">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>








            <div id="full" style="display:none">
                <p class="article-content" style="display:none">
                </p>
            </div>

            <div id="current-html" style="display:none">
                <p class="article-content" style="display:none">
                </p>
            </div>

            <div id="updated_html_clean_context" style="display:none">
                <p class="article-content" style="display:none">
                </p>
            </div>
        </div>
    </article>
</div>
</div>
</div>

<script type="text/javascript">
    function DecodeHTML(encodedHTML) {
        return $("<div/>").html(encodedHTML).text();
    }
</script>

<!--<script type="text/javascript">-->
<!--    function formSubmit() {-->
<!--        event.preventDefault();-->

<!--        $(document).ajaxStart(function () {-->
<!--            $("#overlay").css("display", "none");-->
<!--        });-->
<!--        $(document).ajaxComplete(function () {-->
<!--            $("#overlay").css("display", "none");-->
<!--        });-->

<!--        var selected = new Array();-->

<!--        $("input:checkbox[name=type]:checked").each(function () {-->
<!--            selected.push($(this).val());-->
<!--        });-->

<!--        if ((selected.length == 0) && document.getElementById("hilighted_text").value == "") {-->
<!--            alert('Please Highlight or Choose the Correct Answer to Post!!')-->
<!--            return false-->
<!--        } else if (document.getElementById("hilighted_text").value != "" && (selected.length != 0)) {-->
<!--            alert('Please Highlight or Choose and not both!!')-->
<!--            return false-->
<!--        } else {-->
<!--            // exists.-->
<!--            var message = document.getElementById("hilighted_text").value-->
<!--            var answers = [];-->
<!--            var ul = document.getElementById("answers_group");-->
<!--            var items = ul.getElementsByTagName("li");-->
<!--            for (var i = 0; i < items.length; ++i) {-->
<!--                answers.push(items[i].innerText)-->
<!--            }-->
<!--            if (message != "") {-->
<!--                answers.push(message)-->
<!--            }-->
<!--            answers = JSON.stringify(answers)-->

<!--            var updated_html = document.getElementById("response").innerHTML-->

<!--            if (message == "") {-->
<!--                message = JSON.stringify(selected)-->
<!--            } else {-->
<!--                selected.push(message);-->
<!--                message = JSON.stringify(selected)-->
<!--            }-->

<!--            var dict = {}-->
<!--            dict['system_generated_answer'] = document.getElementById("most_probable_answer").innerHTML-->
<!--            dict['expected_answer'] = message-->
<!--            dict['answers'] = answers-->
<!--            dict['updated_html'] = updated_html-->
<!--            dict['question'] = $('#text_query').val()-->
<!--            dict['question_context'] = $('.nav-tabs .active').text()-->
<!--            dict['answer_context'] = document.getElementsByClassName('list-group-item list-group-item-action active')[0].innerText;-->
<!--            jQuery.ajax({-->
<!--                url: "/post/new",-->
<!--                data: dict,-->
<!--                dataType: "json",-->
<!--                type: "POST",-->
<!--                success: function (response) {-->
<!--                    alert('Posted!');-->
<!--                },-->
<!--            });-->

<!--        }-->
<!--    }-->
<!--</script>-->

<!--<script>-->
<!--    $("#checkbox1").click(function (event) {-->
<!--        if (document.getElementById('checkbox1').checked == true) {-->
<!--            var question = {-->
<!--                cont: $('.nav-tabs .active').attr('data-value'),-->
<!--                question: $('#text_query').val(),-->
<!--                data: $('#full').data()-->
<!--            };-->

<!--            $.ajax({-->
<!--                url: "/post/new",-->
<!--                type: "POST",-->
<!--                dataType: 'json',-->
<!--                contentType: 'application/json',-->
<!--                success: function (resp) {-->
<!--                    console.log(resp.data);-->
<!--                },-->
<!--                data: JSON.stringify(question)-->
<!--            });-->

<!--        }-->
<!--    });-->
<!--</script>-->


{% endblock content %}
