{% extends "layout.html" %}
{% block content %}

    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

    <div class="row top30 justify-content-md-center">
    <div class="col wrapper">
        <h2>Drag drop Files/Emails or enter the context in the box.</h2>
        {{ dropzone.load() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 3%; min-height: 100px;') }}
        {##}
        {#    {{ dropzone.create(action_view='upload') }}#}

        <div id="drop_zone" class="dropzone dz-clickable" id="myDrop">
            <div class="dz-default dz-message" data-dz-message="">
                <span>Drop files here to upload</span>
            </div>
        </div>

        <input type="file" id="files" name="files[]" multiple/>
        <output id="list"></output>

        <script>
            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object

                // files is a FileList of File objects. List some properties.
                var output = [];
                for (var i = 0, f; f = files[i]; i++) {
                    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                        f.size, ' bytes, last modified: ',
                        f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                        '</li>');
                }
                document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
            }

            document.getElementById('files').addEventListener('change', handleFileSelect, false);
        </script>

        <style>
            #byte_content {
                margin: 5px 0;
                max-height: 100px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            #byte_range {
                margin-top: 5px;
            }
        </style>

{#        <input type="file" id="files" name="file"/> Read bytes:#}
        <div>
        <span class="readBytesButtons">
  <button data-startbyte="0" data-endbyte="4">1-5</button>
  <button data-startbyte="5" data-endbyte="14">6-15</button>
  <button data-startbyte="6" data-endbyte="7">7-8</button>
  <button>entire file</button>
</span>
        </div>
        <div id="byte_range"></div>
        <div id="byte_content"></div>

        <script>
            function readBlob(opt_startByte, opt_stopByte) {

                var files = document.getElementById('files').files;
                if (!files.length) {
                    alert('Please select a file!');
                    return;
                }

                var file = files[0];
                var start = parseInt(opt_startByte) || 0;
                var stop = parseInt(opt_stopByte) || file.size - 1;

                var reader = new FileReader();

                // If we use onloadend, we need to check the readyState.
                reader.onloadend = function (evt) {
                    if (evt.target.readyState == FileReader.DONE) { // DONE == 2
                        document.getElementById('context').textContent = evt.target.result;
                        document.getElementById('byte_range').textContent =
                            ['Read bytes: ', start + 1, ' - ', stop + 1,
                                ' of ', file.size, ' byte file'].join('');
                    }
                };

                var blob = file.slice(start, stop + 1);
                reader.readAsBinaryString(blob);
            }

            document.querySelector('.readBytesButtons').addEventListener('click', function (evt) {
                if (evt.target.tagName.toLowerCase() == 'button') {
                    var startByte = evt.target.getAttribute('data-startbyte');
                    var endByte = evt.target.getAttribute('data-endbyte');
                    readBlob(startByte, endByte);
                }
            }, false);
        </script>


        <form>
            <div class="form-group top50">
                <label for="context"><h2>Context</h2></label>
                <textarea class="form-control" id="context" rows="11"></textarea>
            </div>
        </form>
    </div>


    <div class="col">

        <form>
            <div class="form-group">
                <label for="questions"><h2>Questions</h2></label>
                <textarea class="form-control" id="question" rows="7"></textarea>
            </div>
        </form>

        <input class="btn btn-outline-info red-background white" id="submit" name="Submit" type="submit" value="submit">

        {#        <form class="top100" >#}
        {#            <div class="form-group">#}
        {#                <label for="answers">Answers</label>#}
        {#                <textarea class="form-control" id="answer" rows="7"></textarea>#}
        {#            </div>#}
        {#        </form>#}
        <div>
            <label class="top100" for="answers"><h2>Answers</h2></label>
            <div class="lds-css ng-scope"><div id = "wait" style="display:none;width:100%;height:100%" class="lds-ripple"><div></div><div></div></div></div>
            <div class="top10" id='answers'>
            </div>
        </div>


    </div>



    {#        <script>#}
    {#      var answer;#}
    {#      const postUrl = '/get_qa/';#}
    {#      function submit() {#}
    {#        Data = {"context":document.getElementById("context").value,#}
    {#          "question":document.getElementById("question").value};#}
    {#        console.log(Data);#}
    {#        params = {#}
    {#          "headers":{"content-type":"application/json"},#}
    {#          "body":JSON.stringify(Data),#}
    {#          "method":"POST"#}
    {#        }#}
    {#        fetch(postUrl,params)#}
    {#        .then(res=>{return res.json()})#}
    {#        .then(data=>{answer=data})#}
    {#        .then(()=>{console.log(answer)})#}
    {#        .catch(error=>console.log(error))#}
    {#        .then(()=>update())#}
    {#      }#}
    {#      function update() {#}
    {#        for (var i in answer) {#}
    {#        if(answer[i].answer_str != ""){#}
    {#          document.getElementById("answer"+i).innerText = "(" + answer[i].likelihood.toFixed(2) + "): " +answer[i].answer_str;#}
    {#        }else{document.getElementById("answer"+i).innerText = "(" + answer[i].likelihood.toFixed(2) + "): " + "<<not answerable>>"}#}
    {#      }}#}
    {#    </script>#}




    <script type="text/javascript">
        $(document).on('click', '#submit', function () {

            $('#answers').html("");
            $(document).ajaxStart(function () {
                $("#wait").css("display", "block");
            });
            $(document).ajaxComplete(function () {
                $("#wait").css("display", "none");
            });

            Data = {
                "context": document.getElementById("context").value,
                "question": document.getElementById("question").value
            };
            console.log(Data);
            $.ajax({
                url: "/get_qa/",
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                success: function (resp) {
                    console.log(resp)
                    answer = resp

                    var list_html = "<ol>";
                    for (an in answer) {
                        list_html += "<li>" + answer[an].answer_str + "</li>";
                    }
                    list_html += "</ol>"
                    $("#answers").html(list_html);

                },
                data: JSON.stringify(Data)
            });
        });

        document.body.className = "";
    </script>

</div>
{% endblock content %}


<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
            output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                f.size, ' bytes, last modified: ',
                f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                '</li>');
        }
        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>


<script>
    function handleFileSelect(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var files = evt.dataTransfer.files; // FileList object.

        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
            output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                f.size, ' bytes, last modified: ',
                f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                '</li>');
        }
        document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
    }

    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
    }

    // Setup the dnd listeners.
    var dropZone = document.getElementById('drop_zone');
    dropZone.addEventListener('dragover', handleDragOver, false);
    dropZone.addEventListener('drop', handleFileSelect, false);
</script>


