{% extends "layout.html" %}
{% block content %}

    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

<!--    <div class="row top30" width="100%"-->
<!--    height="100%">-->
<!--        <iframe-->
<!--    src="http://10.160.42.119:3000/public/dashboard/a1fbcf64-5231-4687-b84c-59777f00d7ff"-->
<!--    frameborder="0"-->
<!--    width="100%"-->
<!--    height="100%"-->
<!--    allowtransparency-->
<!--&gt;</iframe>-->
<!--    </div>-->
<div class="col-xs-12 col-sm-12 col-md-12 top30">
    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/b91bea48-ab61-4a10-8130-a749d00f7e68#refresh=60"
    frameborder="0"
    width="100%"
    height="1000"
    allowtransparency
></iframe>
</div>


    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/ae7ac5e9-6c8f-40f3-beae-695b301e945a#refresh=60"
    frameborder="0"
    width="100%"
    height="700"
    allowtransparenc
></iframe>
</div>

    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/e0015a09-3bc4-4e29-8907-6031e3f4e4a5#refresh=60"
    frameborder="0"
    width="100%"
    height="800"
    allowtransparency
></iframe>
</div>

    </div>


{% endblock content %}


