{% extends "layout.html" %}
{% block content %}
<div class="col">
<div xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="generator" content="LimeSurvey http://www.limesurvey.org">
    <meta name="viewport" content="width=device-width">
    <!-- The following line includes jquery-ui.css or jquery-ui-custom.css from template dir, template.css and needed specific css file for survey -->
    <link rel="stylesheet" type="text/css" media="all" href="/styles-public/lime-progress.css">
<link rel="stylesheet" type="text/css" media="all" href="/upload/templates/QS3kenmobile/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="all" href="/upload/templates/QS3kenmobile/template.css">


    <link rel="shortcut icon" href="/upload/templates/QS3kenmobile/favicon.ico">
    <!-- The following line includes jquery.js, jquery-ui.js, survey_runtime.js , template.js and needed specific js file for survey -->
    <script type="text/javascript" src="/scripts/jquery/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="/scripts/jquery/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/scripts/survey_runtime.js"></script>
<script type="text/javascript" src="/upload/templates/QS3kenmobile/template.js"></script>


<style type="text/css"></style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style></head>
<!--[if lt IE 7 ]> <body class="lang-en groupbygroup showprogress showqnumcode-X ie ie6 ielt7 ielt8 ielt9 no-js"> <![endif]-->
<!--[if IE 7 ]> <body class="lang-en groupbygroup showprogress showqnumcode-X ie ie7 ielt8 ielt9 no-js"> <![endif]-->
<!--[if IE 8 ]> <body class="lang-en groupbygroup showprogress showqnumcode-X ie ie8ielt9  no-js"> <![endif]-->
<!--[if IE 9 ]> <body class="lang-en groupbygroup showprogress showqnumcode-X ie ie9 no-js"> <![endif]-->
<!--[if gt IE 9]><!--><body id="body" class="lang-en groupbygroup showprogress showqnumcode-X js" data-ember-extension="1"><!--<![endif]-->
<script type="text/javascript">/*<![CDATA[*/(function(H){ H.className=H.className.replace(/\bno-js\b/,'js') })(document.getElementsByTagName('body')[0]);/*]]>*/</script>
<div id="container">
	<div id="head">
		<div class="wrapper">
			<!--<a href="#" title="Made with LimeSurvey" id="link-logo"><img src="/upload/templates/QS3kenmobile/logo.png" alt=" " id="logo"/></a>-->
			<div class="tools"></div><h1 id="sitename">SharQ Survey</h1>
		</div>
	</div>
<div id="title"><h2 id="surveytitle" class="wrapper">Please fill out the form</h2></div>
	<div id="content" class="outerframe">
<form id="limesurvey" name="limesurvey" autocomplete="off" action="/index.php/survey/index" method="post">

            <!-- INPUT NAMES -->
            <input type="hidden" name="fieldnames" value="492371X881X274391|492371X881X274392|492371X881X274393|492371X881X274394|492371X881X274395|492371X881X274396|492371X881X274397|492371X881X274398|492371X881X274399|492371X881X2743910|492371X881X2743911|492371X881X2743912|492371X881X2743913|492371X881X2743914|492371X881X2743915|492371X881X2743916|492371X881X2743917|492371X881X2743918|492371X881X2743919|492371X881X2743920|492371X881X2743921|492371X881X27871" id="fieldnames">
    <script type="text/javascript">
    <!--
        // register the standard (last) onsubmit handler *first*
        document.limesurvey.onsubmit = std_onsubmit_handler;
    -->
    </script><div class="text" id="surveydescription"></div>
<div class="tools"><script type="text/javascript">
        $(document).ready(function() {
        $("#progressbar").progressbar({
        value: 2
        });
        ;});
        </script>

        <div id="progress-wrapper">
        <span class="hide">You have completed 2% of this survey</span>
        <div id="progress-pre">0%</div>
        <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="2"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 2%;"></div></div>
        <div id="progress-post">100%</div>
        </div></div>

<input type="text" id="runonce" value="0" style="display: none;">
        <!-- JAVASCRIPT FOR CONDITIONAL QUESTIONS -->
        <script type="text/javascript">
        <!--
var LEMradix='.';
var numRegex = new RegExp('[^-' + LEMradix + '0-9]','g');
var intRegex = new RegExp('[^-0-9]','g');
            function fixnum_checkconditions(value, name, type, evt_type, intonly)
            {
                newval = new String(value);
                if (typeof intonly !=='undefined' && intonly==1) {
                    newval = newval.replace(intRegex,'');
                }
                else {
                    newval = newval.replace(numRegex,'');
                }
                if (LEMradix === ',') {
                    newval = newval.split(',').join('.');
                }
                if (newval != '-' && newval != '.' && newval != '-.' && newval != parseFloat(newval)) {
                    newval = '';
                }
                displayVal = newval;
                if (LEMradix === ',') {
                    displayVal = displayVal.split('.').join(',');
                }
                if (name.match(/other$/)) {
                    $('#answer'+name+'text').val(displayVal);
                }
                $('#answer'+name).val(displayVal);

                if (typeof evt_type === 'undefined')
                {
                    evt_type = 'onchange';
                }
                checkconditions(newval, name, type, evt_type);
            }

            function checkconditions(value, name, type, evt_type)
            {
                if (typeof evt_type === 'undefined')
                {
                    evt_type = 'onchange';
                }
                if (type == 'radio' || type == 'select-one')
                {
                    $('#java'+name).val(value);
                }
                else if (type == 'checkbox')
                {
                    if ($('#answer'+name).is(':checked'))
                    {
                        $('#java'+name).val('Y');
                    } else
                    {
                        $('#java'+name).val('');
                    }
                }
                else if (type == 'text' && name.match(/other$/))
                {
                    $('#java'+name).val(value);
                }
                ExprMgr_process_relevance_and_tailoring(evt_type,name,type);            }
        // -->
        </script>

<!-- START THE GROUP -->


<div id="group-1">
<div class="group">
<h3 class="grouptitle"></h3>

<div class="groupdescription text"></div>



<!-- PRESENT THE QUESTIONS -->
<div id="question27439" class="question-wrapper array-flexible-row">
	<div class="question-text">
		<span class="asterisk"></span><span class="qnumcode">  </span>Please select below any types of <span style="font-size:14px;"><strong>Problems or Feedback</strong></span> you thik are essential for the system in place. (Just leave the other data types as the default 'no answer'):
	</div>
	<div class="help-wrapper">
		<div class="mandatory error"></div>
		<span class="questionhelp" id="vmsg_27439"></span>
		<div class="tip"></div>
	</div>
	<div class="answers-wrapper">

<table class="question subquestions-list questions-list " summary="Please select below any types of problems or feedback you thik are essential for the system in place. (Just leave the other data types as the default 'no answer'): - an array type question">
	<colgroup class="col-responses">
	<col class="col-answers" width="200px%">
<col class="odd" width="-25%">
<col class="even" width="-25%">
<col class="odd" width="-25%">
<col class="col-no-answer even" width="-25%">
	</colgroup>
	<thead><tr>
	<td>&nbsp;</td>
	<th>I am not satisfied with the system</th>
	<th>I actively collect and/or analyse this data at the moment</th>
	<th>I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)</th>
	<th>No answer</th>
</tr></thead>

<tbody>

	<tr id="javatbd492371X881X274391" class="array2 answers-list radio-list">
	<th class="answertext">
Accuracy<input type="hidden" name="java492371X881X274391" id="java492371X881X274391" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274391-A">
	<input class="radio" type="radio" name="492371X881X274391" value="A" id="answer492371X881X274391-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274391-B">
	<input class="radio" type="radio" name="492371X881X274391" value="B" id="answer492371X881X274391-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274391-C">
	<input class="radio" type="radio" name="492371X881X274391" value="C" id="answer492371X881X274391-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274391-">
	<input class="radio" type="radio" name="492371X881X274391" value="" id="answer492371X881X274391-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274392" class="array1 answers-list radio-list">
	<th class="answertext">
Robust<input type="hidden" name="java492371X881X274392" id="java492371X881X274392" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274392-A">
	<input class="radio" type="radio" name="492371X881X274392" value="A" id="answer492371X881X274392-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274392-B">
	<input class="radio" type="radio" name="492371X881X274392" value="B" id="answer492371X881X274392-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274392-C">
	<input class="radio" type="radio" name="492371X881X274392" value="C" id="answer492371X881X274392-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274392-">
	<input class="radio" type="radio" name="492371X881X274392" value="" id="answer492371X881X274392-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274393" class="array2 answers-list radio-list">
	<th class="answertext">
Impact<input type="hidden" name="java492371X881X274393" id="java492371X881X274393" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274393-A">
	<input class="radio" type="radio" name="492371X881X274393" value="A" id="answer492371X881X274393-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274393-B">
	<input class="radio" type="radio" name="492371X881X274393" value="B" id="answer492371X881X274393-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274393-C">
	<input class="radio" type="radio" name="492371X881X274393" value="C" id="answer492371X881X274393-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274393-">
	<input class="radio" type="radio" name="492371X881X274393" value="" id="answer492371X881X274393-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274394" class="array1 answers-list radio-list">
	<th class="answertext">
Useful<input type="hidden" name="java492371X881X274394" id="java492371X881X274394" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274394-A">
	<input class="radio" type="radio" name="492371X881X274394" value="A" id="answer492371X881X274394-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274394-B">
	<input class="radio" type="radio" name="492371X881X274394" value="B" id="answer492371X881X274394-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274394-C">
	<input class="radio" type="radio" name="492371X881X274394" value="C" id="answer492371X881X274394-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274394-">
	<input class="radio" type="radio" name="492371X881X274394" value="" id="answer492371X881X274394-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274395" class="array2 answers-list radio-list">
	<th class="answertext">
Redundant<input type="hidden" name="java492371X881X274395" id="java492371X881X274395" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274395-A">
	<input class="radio" type="radio" name="492371X881X274395" value="A" id="answer492371X881X274395-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274395-B">
	<input class="radio" type="radio" name="492371X881X274395" value="B" id="answer492371X881X274395-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274395-C">
	<input class="radio" type="radio" name="492371X881X274395" value="C" id="answer492371X881X274395-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274395-">
	<input class="radio" type="radio" name="492371X881X274395" value="" id="answer492371X881X274395-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274396" class="array1 answers-list radio-list">
	<th class="answertext">
Optimal<input type="hidden" name="java492371X881X274396" id="java492371X881X274396" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274396-A">
	<input class="radio" type="radio" name="492371X881X274396" value="A" id="answer492371X881X274396-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274396-B">
	<input class="radio" type="radio" name="492371X881X274396" value="B" id="answer492371X881X274396-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274396-C">
	<input class="radio" type="radio" name="492371X881X274396" value="C" id="answer492371X881X274396-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274396-">
	<input class="radio" type="radio" name="492371X881X274396" value="" id="answer492371X881X274396-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274397" class="array2 answers-list radio-list">
	<th class="answertext">
Responsive<input type="hidden" name="java492371X881X274397" id="java492371X881X274397" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274397-A">
	<input class="radio" type="radio" name="492371X881X274397" value="A" id="answer492371X881X274397-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274397-B">
	<input class="radio" type="radio" name="492371X881X274397" value="B" id="answer492371X881X274397-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274397-C">
	<input class="radio" type="radio" name="492371X881X274397" value="C" id="answer492371X881X274397-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274397-">
	<input class="radio" type="radio" name="492371X881X274397" value="" id="answer492371X881X274397-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274398" class="array1 answers-list radio-list">
	<th class="answertext">
Good<input type="hidden" name="java492371X881X274398" id="java492371X881X274398" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274398-A">
	<input class="radio" type="radio" name="492371X881X274398" value="A" id="answer492371X881X274398-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274398-B">
	<input class="radio" type="radio" name="492371X881X274398" value="B" id="answer492371X881X274398-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274398-C">
	<input class="radio" type="radio" name="492371X881X274398" value="C" id="answer492371X881X274398-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274398-">
	<input class="radio" type="radio" name="492371X881X274398" value="" id="answer492371X881X274398-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X274399" class="array2 answers-list radio-list">
	<th class="answertext">
Needs Work<input type="hidden" name="java492371X881X274399" id="java492371X881X274399" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X274399-A">
	<input class="radio" type="radio" name="492371X881X274399" value="A" id="answer492371X881X274399-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X274399-B">
	<input class="radio" type="radio" name="492371X881X274399" value="B" id="answer492371X881X274399-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X274399-C">
	<input class="radio" type="radio" name="492371X881X274399" value="C" id="answer492371X881X274399-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X274399-">
	<input class="radio" type="radio" name="492371X881X274399" value="" id="answer492371X881X274399-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X2743910" class="array1 answers-list radio-list">
	<th class="answertext">
Would you recommend people to use it?<input type="hidden" name="java492371X881X2743910" id="java492371X881X2743910" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X2743910-A">
	<input class="radio" type="radio" name="492371X881X2743910" value="A" id="answer492371X881X2743910-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X2743910-B">
	<input class="radio" type="radio" name="492371X881X2743910" value="B" id="answer492371X881X2743910-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X2743910-C">
	<input class="radio" type="radio" name="492371X881X2743910" value="C" id="answer492371X881X2743910-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X2743910-">
	<input class="radio" type="radio" name="492371X881X2743910" value="" id="answer492371X881X2743910-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>


	<tr id="javatbd492371X881X2743921" class="array2 answers-list radio-list">
	<th class="answertext">
Other (please specify in text box that will appear if option selected)<input type="hidden" name="java492371X881X2743921" id="java492371X881X2743921" value="">
	</th>
			<td class="answer_cell_00A answer-item radio-item">
<label for="answer492371X881X2743921-A">
	<input class="radio" type="radio" name="492371X881X2743921" value="A" id="answer492371X881X2743921-A" title="I have collected and/or analysed this data in the past" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00B answer-item radio-item">
<label for="answer492371X881X2743921-B">
	<input class="radio" type="radio" name="492371X881X2743921" value="B" id="answer492371X881X2743921-B" title="I actively collect and/or analyse this data at the moment" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
			<td class="answer_cell_00C answer-item radio-item">
<label for="answer492371X881X2743921-C">
	<input class="radio" type="radio" name="492371X881X2743921" value="C" id="answer492371X881X2743921-C" title="I am keen to collect and/or analyse this data in the future (&amp; haven't done so previously)" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
	<td class="answer-item radio-item noanswer-item">
<label for="answer492371X881X2743921-">
	<input class="radio" type="radio" name="492371X881X2743921" value="" id="answer492371X881X2743921-" title="No answer" checked="checked" onclick="checkconditions(this.value, this.name, this.type)">
</label>
	</td>
</tr>
</tbody>
</table>

	</div>
	<div class="question-help">

	</div>
</div>
<div id="question27871" style="display: none;" class="question-wrapper text-short mandatory">
	<div class="question-text">
		<span class="asterisk">*</span><span class="qnumcode">  </span>Please Specify <strong>Other&nbsp;</strong>
	</div>
	<div class="help-wrapper">
		<div class="mandatory error"></div>
		<span class="questionhelp" id="vmsg_27871"></span>
		<div class="tip"></div>
	</div>
	<div class="answers-wrapper">
		<p class="question answer-item text-item ">
<label for="answer492371X881X27871" class="hide label">Answer</label>	<input class="text  empty" type="text" size="50" name="492371X881X27871" id="answer492371X881X27871" value="" onkeyup="checkconditions(this.value, this.name, this.type)">

</p>

	</div>
	<div class="question-help">

	</div>
</div>
<input type="hidden" name="lastgroup" value="492371X881" id="lastgroup">


<!-- END THE GROUP -->
</div><!-- endgroup -->

</div>
<script type="text/javascript" src="/scripts/expressions/em_javascript.js"></script>
<script type="text/javascript">
<!--
var LEMmode='group';
var LEMgseq=1;
function ExprMgr_process_relevance_and_tailoring(evt_type,sgqa,type){
if (typeof LEM_initialized == 'undefined') {
LEM_initialized=true;
LEMsetTabIndexes();
}
if (evt_type == 'onchange' && (typeof last_sgqa !== 'undefined' && sgqa==last_sgqa) && (typeof last_evt_type !== 'undefined' && last_evt_type == 'TAB' && type != 'checkbox')) {
  last_evt_type='onchange';
  last_sgqa=sgqa;
  return;
}
last_evt_type = evt_type;
last_sgqa=sgqa;
  relChange27439=false;
  relChange27871=false;
  relChangeG1=false;
  LEMrel27439(sgqa);
  LEMrel27871(sgqa);

}
function LEMrel27439(sgqa){
  var UsesVars = ' java492371X880X27438DATS1 ';
  if(relChangeG1){
    ;
  }
  else  if (typeof sgqa !== 'undefined' && !LEMregexMatch('/ java' + sgqa + ' /', UsesVars)) {
  return;
 }

if ((((LEMval('492371X880X27438DATS1.NAOK')  == "Y"))))
{
  $('#question27439').show();
  relChange27439=true;
  $('#relevance27439').val('1');
}
else {
  $('#question27439').hide();
  if ($('#relevance27439').val()=='1') { relChange27439=true; }
  $('#relevance27439').val('0');
}
}

function LEMrel27871(sgqa){
  var UsesVars = ' java492371X881X2743921 ';
  if(relChange27439){
    ;
  }
  else  if(relChangeG1){
    ;
  }
  else  if (typeof sgqa !== 'undefined' && !LEMregexMatch('/ java' + sgqa + ' /', UsesVars)) {
  return;
 }

if ((((LEMval('492371X881X2743921.NAOK')  == "A" || LEMval('492371X881X2743921.NAOK')  == "B" || LEMval('492371X881X2743921.NAOK')  == "C"))))
{
  $('#question27871').show();
  if($('#question27871 div[id^="gmap_canvas"]').length > 0)
  {
      resetMap(27871);
  }
  relChange27871=true;
  $('#relevance27871').val('1');
}
else {
  $('#question27871').hide();
  if ($('#relevance27871').val()=='1') { relChange27871=true; }
  $('#relevance27871').val('0');
}
}
var LEMalias2varName = {
'G1_Q0001_DATS1':'java492371X880X27438DATS1',
'492371X880X27438DATS1':'java492371X880X27438DATS1',
'G2_Q0001_21':'java492371X881X2743921',
'492371X881X2743921':'java492371X881X2743921'};
var LEMvarNameAttr = {
'java492371X880X27438DATS1':{ 'jsName':'java492371X880X27438DATS1','jsName_on':'java492371X880X27438DATS1','sgqa':'492371X880X27438DATS1','qid':27438,'gid':880,'type':'M','default':'','rowdivid':'492371X880X27438DATS1','onlynum':'','gseq':0,'question':'Physical (e.g. Blood Pressure, Weight, Sleep)'},
'java492371X881X2743921':{ 'jsName':'java492371X881X2743921','jsName_on':'java492371X881X2743921','sgqa':'492371X881X2743921','qid':27439,'gid':881,'type':'F','default':'','rowdivid':'492371X881X2743921','onlynum':'','gseq':1,'answers':{ '0~A':'0|I have collected and/or analysed this data in the past','0~B':'0|I actively collect and/or analyse this data at the moment','0~C':'0|I am keen to collect and/or analyse this data in the future (&amp; haven&#039;t done so previously)'}}};
//-->
</script>
<input type="hidden" disabled="disabled" id="java492371X880X27438DATS1" name="492371X880X27438DATS1" value="Y">
<input type="hidden" id="relevance27439" name="relevance27439" value="1">
<input type="hidden" id="relevance27871" name="relevance27871" value="0">
<input type="hidden" id="relevance27438" name="relevance27438" value="1">
<input type="hidden" id="relevanceG1" name="relevanceG1" value="1">


<!-- PRESENT THE NAVIGATOR -->
	<p class="navigator"><input type="hidden" name="move" value="movenext" id="movenext"><button class="submit" accesskey="p" type="button" onclick="javascript:document.limesurvey.move.value = 'moveprev'; $('#limesurvey').submit();" value="Previous" name="move2" id="moveprevbtn">Previous</button>
	<button class="submit" type="submit" accesskey="n" onclick="javascript:document.limesurvey.move.value = 'movenext';" value="Next" name="move2" id="movenextbtn">Next</button>
</p>
	<ul class="tools">
		<li><input type="button" name="saveallbtn" value="Resume later" class="saveall" onclick="javascript:document.limesurvey.move.value = this.value;addHiddenField(document.getElementById('limesurvey'),'saveall',this.value);document.getElementById('limesurvey').submit();" disabled="disabled"></li>
		<li><input type="button" name="clearallbtn" value="Exit and clear survey" class="clearall" onclick="if (confirm('Are you sure you want to clear all your responses?')) {
window.open('/index.php/492371/move/clearall/lang/en', '_self')}"></li>
	</ul>

<p style="text-align:center" class="error">This survey is currently not active. You will not be able to save your responses.</p>
<input type="hidden" name="thisstep" value="2" id="thisstep">
<input type="hidden" name="sid" value="492371" id="sid">
<input type="hidden" name="start_time" value="1381211700" id="start_time">
<input type="hidden" name="LEMpostKey" value="1590808771" id="LEMpostKey">
</form>
</div><!--endcontent-->
<div id="footer">
	<ul id="credits">
	<li id="poweredby" class="first"><a href="http://www.limesurvey.org/" title="LimeSurvey Website">American Family Insurance</a>
	</li>
	<li id="donate" class="last">The Spark</li>
	</ul>
</div>
</div><!-- end container-->





<div class="extLives"></div></body>
</div>
</div>

{% endblock content %}