{% extends "layout.html" %}
{% block content %}

    <div class="row" style="text-align: center;">
        <div class="col-md-auto">
            <div class="column logo">
                <a href="/"><img
                        src="https://www.amfam.com/-/media/images/amfam/american-family-insurance-logo.png?h=69&amp;w=231&amp;la=en&amp;hash=FAA079AB577AD6454F9915631CBF7DD4A939DAF8"
                        class="logo" alt="American Family Insurance" WIDTH=170 HEIGHT=50></a>
            </div>
        </div>
        <div class="col">
            <div>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    </div>

<!--    <div class="row top30" width="100%"-->
<!--    height="100%">-->
<!--        <iframe-->
<!--    src="http://10.160.42.119:3000/public/dashboard/a1fbcf64-5231-4687-b84c-59777f00d7ff"-->
<!--    frameborder="0"-->
<!--    width="100%"-->
<!--    height="100%"-->
<!--    allowtransparency-->
<!--&gt;</iframe>-->
<!--    </div>-->
<div class="col-xs-12 col-sm-12 col-md-12 top30">
    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/3a38865b-1949-46ef-85c7-614b8f9d4135#refresh=60"
    frameborder="0"
    width="100%"
    height="500"
    allowtransparency
></iframe>
</div>


    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/2f7c5947-fc35-49c3-8318-54743eb5262f#refresh=60"
    frameborder="0"
    width="100%"
    height="700"
    allowtransparenc
></iframe>
</div>

    <div class="row">
        <iframe
    src="http://shark-pod-viz-360419420.us-east-1.elb.amazonaws.com/public/dashboard/4da5298b-5cf0-4343-94bd-478bb166844e#refresh=60"
    frameborder="0"
    width="100%"
    height="700"
    allowtransparency
></iframe>
</div>

    </div>


{% endblock content %}